.Buttons{
    margin: 10px 0;
    padding: 15px 10px;
    background-color: #fff;
    border-radius: 5px;
}
.Buttons button{
    padding: 10px 12px 10px 12px;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 7px;
    cursor: pointer;
    transition: .5s;
}
.Buttons button:hover{
    background-color: var(--Color_Main);
    color: #fff;
    border: 1px solid transparent;
}